@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 225px;
}

:root {
  --background: #222222; 
  --background-accent: #444444; 
  --text-offset: #333333;  
  --content: #ffffff;
  --content-nav: #d1d1d1;
  --accent1: #88aeff;
  --theme-accent-col: #277ac2;
  --theme-accent-col-light: #4488c4;

  --text-col-light: #ffffff;
  --text-col-dark: #000000;
  --text-col-1: #666666;
  --text-col-2: #202020;
  --text-col-3: #000000;

  --selection-text-col: #fffef7;
  --selection-back-col: #707070b4;
}

/* @media (prefers-color-scheme: dark) { }   */

::selection{
  color: var(--selection-text-col);
  background-color: var(--selection-back-col);
}
::-moz-selection{
  color: var(--selection-text-col);
  background-color: var(--selection-back-col);
} 

.divider{ 
  height: 3px;
  width: 100%;
  background-color: #cccccc;
  margin: 2rem 0rem 2rem 0rem; 
}





/*    Text Styles    */

.font-navbar {
  font-weight: 500;
  font-size: 1.25rem;
}
.font-heading {
  font-weight: 600;
  font-size: 1.75rem; 
}
.font-normal {
  font-weight: 400;
  font-size: 1rem; 
}
.font-small {
  font-weight: 300;
  font-size: 0.75rem;
}
.font-bold{
  font-weight: bold;
}
.font-italic{
  font-style: italic;
}
.font-merri{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
.font-roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
.font-openSans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
.font-oswald{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}





/*   Navbar & Footer Styles   */

.navbar-container{
  display: flex;
  position: fixed;
  justify-content: space-between; 
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0.5rem 10%; 
  gap: 0rem; 

  background: var(--background-accent);
  color: var(--content); 
}

.nav-left-group{
  display: flex;
  flex-direction: row; 
  gap: 0.2rem; 
}
.nav-right-group{
  display: flex;
  flex-direction: row;
  gap: 0.2rem; 
}

.nav-btn{
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  padding: 0.2rem 0.6rem;    
  border-radius: 0.99rem;  
  transition: 0.2s;  
}
.nav-btn:hover{
  background-color: var(--accent1); 
  color: var(--text-offset);
  border-radius: 0.5rem; 
  cursor: pointer;
}

#nav-home{
  color: var(--accent1);
}
#nav-home:hover{
  color: var(--content);
}

.footer-container{ 
  display: flex;
  width: 100%; 
  height: auto;
  margin: 0px;
  padding: 1rem 10%;   

  background: var(--background-accent);
  color: var(--content);
}

.footer-content{
  padding-left: 0.75rem;
}




/*   Main App    */

body{
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  background: var(--background);
  color: var(--content);
}

.app-container {
  display: flex;
  width: 80%;
  align-self: center; 
  max-width: 75rem; 
  height: auto; 
  margin: 0px;
  margin-bottom: 2.25rem;
  margin-top: 3.25rem; 
  padding: 0.675rem;   
}

.content-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: inherit;
}

.miniNavCont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem; 
  align-items: center; 
  color: var(--content-nav);
} 

.trail-cont{
  display: flex;
  flex-direction: row;
  gap: 0.25rem; 
  cursor: default; 
}

.trail-text{
  transition: 0.25s; 
}
.trail-text:hover{
  color: var(--accent1); 
} 

.themeCont{
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.content-row{
  flex-direction: row; 
}

.content-col{
  flex-direction: column;
}

.section-cont{
  display: flex;
  margin-bottom: 1.25rem; 
}




