@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;    
}

:root {
  --background: #ffffff;
  --background-accent: #eeeeee;
  --background-grad1: #dddddd;   
  --background-grad2: #dddddd; 
  --text-offset: #f1f1f1;  
  --content: #171717; 
  --content-nav: #666666;
  --accent1: #64b5fd; 

  --selection-text-col: #c6e5ff; 
  --selection-back-col: #707070b4;
}

@media (prefers-color-scheme: dark) { 
  :root {
    --background: #222222; 
    --background-accent: #444444; 
    --background-grad1: #333333;  
    --background-grad2: #4e4e4e; 
    --text-offset: #333333;   
    --content: #ffffff;
    --content-nav: #d1d1d1;   
    --accent1: #64b5fd;  
    /* --accent1: #ff6666;     */

    --selection-text-col: #cde9ff; 
    --selection-back-col: #707070b4;
  }
}  

::selection{
  color: var(--selection-text-col);
  background-color: var(--selection-back-col);
}
::-moz-selection{
  color: var(--selection-text-col);
  background-color: var(--selection-back-col);
} 

.divider{ 
  height: 1px; 
  width: 100%;
  background-color: var(--background-accent); 
  margin: 2rem 0rem 1.75rem 0rem;  
}





/*    Text Styles    */

.font-navbar {
  font-weight: 500;
  font-size: 1.25rem;  
}
.font-heading {
  font-weight: 450;  
  font-size: 1.75rem;  
  margin-bottom: 0.25rem; 
  cursor: default;
}
.font-large {
  font-weight: 500;  
  font-size: 1.25rem;   
}
.font-normal {
  font-weight: light;
  font-size: 0.925rem;  
}
.font-intersmall {
  font-weight: 400;
  font-size: 0.875rem;
}
.font-small {
  font-weight: 350;
  font-size: 0.75rem;
}
.font-bold{
  font-weight: bold;
}
.font-italic{
  font-style: italic;
}
.font-accent{
  color: var(--accent1); 
}
.font-link{
  text-decoration: dotted underline; 
  text-decoration-thickness: 2px;
  text-decoration-color: var(--accent1);
  text-underline-offset: 2px;
  transition: 0.25s; 
} 
.font-link:hover{ 
  text-decoration: solid underline;  
  text-decoration-thickness: 2px;
  text-decoration-color: var(--accent1);
  text-underline-offset: 2px;
  opacity: 0.8;
  cursor: pointer; 
}
.font-merri{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
.font-roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
.font-open{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
.font-oswald{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
.font-bitcount{
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-style: normal;  
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
.fontcol1{
  opacity: 0.5; 
  padding-top: 1px;
}
.fontcol2{
  opacity: 0.95; 
}
.fontcol3{
  opacity: 0.99;
}
.no-wrap{
  text-wrap-mode: nowrap;
  flex-wrap: nowrap;
}
.wrap{
  text-wrap-mode: wrap;
  flex-wrap: wrap;
}
.content-width-limit{ 
  max-width: 65%;  
}
.more-button{
  display: flex;
  width: fit-content;
  height: auto;
  justify-self: center;
  align-self: center; 
}
li {
  display: list-item; 
  unicode-bidi: isolate;
  /* color: var(--accent1); */ 
}
ul {
  list-style: inside;
  /* color: var(--accent1); */
}



/*   Navbar & Footer Styles   */

.width-container{ 
  display: flex;
  position: fixed;
  width: 100%;
  height: auto;
  justify-content: center;
  margin: 0px;
  gap: 0rem;  
  padding: 0px;
  background: var(--background-accent);  
  z-index: 100; 
}

.navbar-container{
  display: flex;
  justify-content: space-between; 
  width: 80.25%;  
  max-width: 75rem; 
  height: auto;
  margin: 0px;
  padding: 0.5rem 0px; 
  gap: 0rem; 
  color: var(--content); 
}

.nav-left-group{
  display: flex;
  flex-direction: row; 
  gap: 0.2rem; 
}
.nav-right-group{
  display: flex;
  flex-direction: row;
  gap: 0.2rem; 
}

.nav-btn{
  display: flex;
  position: relative;
  width: fit-content; 
  height: auto;
  border-radius: 0.99rem;  
  transition: 0.2s;  
}
.nav-btn:hover{
  background-color: var(--accent1); 
  color: var(--text-offset);
  border-radius: 0.5rem;  
  cursor: pointer;
}
.nav-btn-a{
  padding: 0.2rem 0.6rem 0rem 0.75rem;  
}

.footer-width-container{ 
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  margin: 0px;
  gap: 0rem;  
  padding: 0px;
  background: var(--background-accent);     
}

.footer-container{ 
  display: flex;
  justify-content: space-between;  
  align-items: center;
  width: 80%; 
  max-width: 75rem; 
  height: auto;
  margin: 0px; 
  padding: 1rem 0px;   
  color: var(--content);
}

.footer-content{
  padding-left: 0.75rem;
}




/*   Main App    */

body{
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

  background: var(--background);
  color: var(--content);
}

.app-container {
  display: flex;
  width: 80%;
  align-self: center; 
  max-width: 75rem; 
  height: auto; 
  margin: 0px;
  margin-bottom: 2.5rem;
  margin-top: 3.25rem;     
  padding: 0.675rem;   
}

.content-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 75vh;  
  color: inherit;
}

.miniNavCont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem; 
  align-items: center; 
  color: var(--content-nav);
} 

.trail-cont{
  display: flex;
  flex-direction: row;
  gap: 0.325rem; 
  cursor: default;  
}

.trail-text{
  transition: 0.25s; 
}
.trail-text:hover{
  color: var(--accent1); 
} 

.themeCont{
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.section-cont-row{
  display: flex;
  flex-direction: row;
}

.section-cont-col{
  display: flex;
  flex-direction: column;
} 

.section-entry{
  padding: 0.5rem 0.875rem 0.5rem 0.1rem;  
  border-radius: 0.5rem;
  width: fit-content;
  overflow: hidden;
}

.vert-preface{
  display: flex;
  flex-wrap: nowrap;
  min-width: 0.4rem; 
  height: auto;
  background-color: #bbbbbb; 
  margin-top: 0.1rem;
  margin-bottom: 0rem;
  margin-right: 0.75rem; 
  border-radius: 5px; 
  transition: 0.275s;  
  transition-timing-function: ease-in-out;
}
.prefaced-contents{
  display: flex;
  flex-direction: column;
}
.prefaceBlue{
  background-color: var(--accent1); 
}
.prefaceOride{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: 0.25s;
  transition-timing-function: ease-in-out;
}
.prefaceOride:is(:hover){ 
  background: var(--background-accent); 
  cursor: pointer;
  padding-left: 0.55rem;
}
.prefaceOride:is(:hover) > .vert-preface{
  background-color: var(--accent1);
}
.prefaceOride:is(:hover) > .prefaced-contents > .textOride{     
  color: var(--accent1); 
}

.textOride{    
  transition: 0.225s; 
  transition-timing-function: ease-in-out;
}
.prefaceOrideStatic{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: 0.2s;
  transition-timing-function: ease-in-out; 
  background: var(--background-grad1);  
  padding-left: 0.55rem;
}
.prefaceOrideStatic:is(:hover){    
  cursor: pointer;
  background-color: var(--background-grad2);  
}
.prefaceOrideStatic:is(:hover) > .vert-preface{
  background-color: var(--accent1);
}
.prefaceOrideStatic:is(:hover) > .prefaced-contents > .textOride{    
  color: var(--accent1); 
}
.prefaceOrideStatic:is(:hover) > .section-thumbnail > .section-image{    
  scale: 1.125;   
}

.section-entry-half{
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0.55rem;     
  border-radius: 0.5rem;  
  width: 49%;
  margin-bottom: 1.95%; 
  overflow: hidden;
}

.section-thumbnail{  
  display: flex;
  height: 100%; 
  width: auto; 
  min-width: 25%; 
  max-width: 30%;   
  border-radius: 0.25rem; 
  overflow: hidden;  
  margin-left: auto; 
}

.section-image{
  object-fit: cover;
  display: flex;
  width: auto;
  height: 100%;
  transition: 0.25s;
  transition-timing-function: ease-out;
}


