@import "tailwindcss";

:root {
  --background-light: #ffffff;
  --content-light: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-light: #171717;
    --content-light: #ffffff;
  }
}

.navbar-container{
  display: flex;
}

.footer-container{
  display: flex;
}

.app-container {
  display: flex;
  justify-self: center;
  width: 90%;
  height: auto;
  margin: 0px;
  padding: 1rem;

  background-color: violet;
}

.content-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  background-color: yellow;
}

